{% extends "base.html.twig" %}{% block title %} {{ parent() }}- Votre lancodex {% endblock %} {% block contenu %} {%if session.login is not defined %}
<div class="conteneur-central">
    <form class="form-signin" action="index.php?page=connexion" method="post" enctype="application/x-www-form-urlencoded">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <button class="btn btn-lg  btn-block" type="submit" name="btConnecter">Se connecter</button>
        <a class="go-back-arrow" href="index.php?page=inscrire" id="inscription-link">S'inscrire <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
    </form>
</div>{% else %}
    <h2>Mon lancodex</h2>
    <a class="arrow-back" href="index.php"><i class="glyphicon glyphicon-circle-arrow-left"> </i></a>
    {% for r in listeMaitrise %}
        <a href="index.php?page=fiche&id={{r.id}}">  <div class="gallery"><img class="elementLanco " id="{{r.id}}" src="images/{{r.logo}}" alt="{{r.libelle}}"></div></a>    
   {% endfor %}
   {% for e in listeNonMaitrise %}
        <a href="index.php?page=fiche&id={{e.id}}">  <div class="gallery"><img class="elementLanco locked" id="{{e.id}}" src="images/{{e.logo}}" alt="{{e.libelle}}"></div></a>
    {% endfor %}

{% endif %} {% endblock %}
