 {% extends "base.html.twig" %}{% block title %} {{ parent() }} Quizz {% endblock %} {% block contenu %}
<div class="quizz-conteneur">
    {%for l in langage%}
        <form action="index.php?page=descriptif&id={{l.id}}&element={{4}}" method="post" enctype="application/x-www-form-urlencoded">
            <!-- pour les logo -->
            {% if element == 1%}
                {% for e in ReponsesLogo %}
                    <h2>Quelle est la bonne image ?</h2>

                    <table id="table-quizz">
                        <tr class="quizz">
                            <td>
                                <input name="choix" type="radio"><img class="satur1" src="images/{{e.logo}}" alt=""></td>
                            <td>
                                <input name="choix" type="radio"><img class="satur2" src="images/{{e.logo}}" alt=""></td>
                        </tr>
                        <tr class="quizz">
                            <td>
                                <input name="choix" type="radio"><img class="satur3" src="images/{{e.logo}}" alt=""></td>
                            <td>
                                <input name="choix" type="radio"><img src="images/{{e.logo}}" alt=""></td>
                        </tr>
                        <input type="submit" id="submit-quizz" value="Suivant">
                    </table>
                {%endfor%}
            <!-- pour les noms -->
            {% elseif element == 2 %}
                <h2>Quel est le bon nom ?</h2>
                <ul class="quizz-list"> {% for e in ReponsesNom %}
                    <li>
                        <input type="radio" name="choix">{{e.reponse| convert_encoding('UTF-8', 'ISO-8859-1')}}
                    </li>
                    {% endfor %}</ul>
                <input type="submit" id="submit-quizz" value="Suivant">
                
            <!-- pour les descriptifs -->
            {% elseif element == 3 %}
                <h2>Ce langage sert :</h2> 
                <ul class="quizz-list">
                {% for e in ReponsesDesc %}
                    <li><input type="radio" id="choix" name="choix" value="{{e.reponse}}">{{e.reponse| convert_encoding('UTF-8', 'ISO-8859-1')}}</li>
                {%endfor%}
                </ul>
                <button id="submit-quizz" type="submit" name="btAjouter">Suivant</button>
        </form>
        {%elseif element == 4%}
                <h1>hi</h1>
        {%for r in reponse%}
         <h2>{{r.msg}}</h2>
         {%endfor%}
          {% endif %}
    {% endfor %} 
</div>
{% endblock %} {%block dino%}{%endblock%}
