 {% extends "base.html.twig" %}{% block title %} {{ parent() }} Quizz {% endblock %} {% block contenu %}
<div class="quizz-conteneur">
    <form action="" onsubmit="redirect(index.php?page=quizz);return false;">
        <!-- pour les logo -->
        {% if element ==  1%} {% for e in ReponsesLogo %}
        <h2>Quelle est la bonne image ?</h2>

        <table id="table-quizz">
            <tr class="quizz">
                <td>
                    <input name="choix" type="radio"><img class="satur1" src="images/{{e.logo}}" alt=""></td>
                <td>
                    <input name="choix" type="radio"><img class="satur2" src="images/{{e.logo}}" alt=""></td>
            </tr>
            <tr class="quizz">
                <td>
                    <input name="choix" type="radio"><img class="satur3" src="images/{{e.logo}}" alt=""></td>
                <td>
                    <input name="choix" type="radio"><img src="images/{{e.logo}}" alt=""></td>
            </tr>
            <input type="submit" id="submit-quizz" name="formulaireLogo" value="Suivant">
        </table>
        {%endfor%}
        <!-- pour les noms -->
        {% elseif element == 2 %} {% for e in ReponsesNom %}
        <div>{{e.reponse| convert_encoding('UTF-8', 'ISO-8859-1')}}</div>
        {% endfor %}
        <!-- pour les descriptifs -->
        {% elseif element == 3 %} {% for e in ReponsesDesc %}
        <div>{{e.reponse| convert_encoding('UTF-8', 'ISO-8859-1')}}</div>
        {% endfor %} {% endif %}</form>
</div>
{% endblock %} {%block dino%}{%endblock%}
